h1 {
    text-align: center;
    border-bottom: 2px solid;
    border-color: darkmagenta;
}

.mac, .pork, .chicken {
    height: auto;
    width: 250px;
    border: 2px solid;
    border-radius: 10px;
}

.image-box {
    display: flex;
    justify-content: space-around;
}